
<head>
    <title>Float Elements</title>
    <style>
        /*this only apply to div that are with in the container*/
        .container div {
            border: 1px solid blue;
            width: 100px;
            height: 70px;
            float: left;
        }

        .box4 {
            border: 1px solid red;
            width: 150px;
            height: 100px;
            /*clear out both left and right*/
            clear: both;
        }
    </style>
</head>

<body>
<section class=" container">
    <div class="box1 "> Example 1 </div>
    <div class="box2 "> Example 2 </div>
    <div class="box3"> Example 3 </div>
</section>
<div class="box4 "> Example 4 </div>
<div class="box5 "> Example 5 </div>
<div class="box6 "> Example 6 </div>
</body>

</html>