body {
    background-color: bisque;
}

section{
    background-color: aliceblue;
}
footer{
    background-color: darkgray;
    color:white;
}
.cursive{
    color:black;
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
}

.yellow-back{
    background-color: yellow;
}
.textRight {
    text-align: center;
}

li a {
    text-decoration: none;
}

li {
    display: inline-block;
    background-color: red;
    color: white;
}