@import url('https://fonts.googleapis.com/css?family=Mali');
body{
    font-family: 'Mali', cursive;
    background-color: #3c3176;
}

.logo{
    color:white;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    font-family: fantasy;
}

h2, h3{
    color: #10073B;
}

section{
    min-height: 300px;
    /*all around padding is 5*/
    padding: 5px;
    background-color: #867DB0;
    /*Top and buttom is 5 the rest is 0*/
    margin: 5px 0;
    /*this is dotted and white*/
    border: 5px dotted white;
}
header{
    background-color: black;
}

li{
    /*no style no dots or anything*/
    list-style: none;
    /*display horizontaly*/
    display: inline-block;
    /*list elements will be this color*/
    background-color: #231858;
    /*the text will be white*/
    color:white;
    /*the size of our list (horizontaly)*/
    width:70px;
    /*top buttom is 5, left and right is 20*/
    padding: 5px 20px;
    /*this is the spacing between the elements*/
    margin: 5px;
    /*align the text to the center*/
    text-align: center;
}

img{
    max-width: 150px;
    float: right;
}
footer{
    /*the background of the element is darkgray*/
    background-color: darkgray;
    /*the text color*/
    color:white;
    /*property to alligh the text*/
    text-align: center;
    /*the margin is 30 all around*/
    padding:30px;
}
