body {
    background-color: #3C3176;
}

section{
    background-color: #867DB0;
    border:5px solid black;
    border-style: dotted;
    margin:2px 0px 5px 0px;
    height:200px;
}
h2{
    background-color: #10073B;
    color: white;
}
footer{
    background-color: darkgray;
    color:white;
    text-align: center;
    padding: 2px 5px 3px 2px;
    font-size: 1.5rem;
}
.cursive{
    color:black;
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
}

/*img{*/
/*    !*wont go over 100%*!*/
/*    !*max-width: 150%;*!*/
/*    !*position our images*!*/
/*    float: right;*/
/*}*/

img{
    max-width: 150px;
    float: right;
}
.logo{
    color: white;
    font-family: fantasy;
    font-size: 1.5rem;
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
    background-color: #231858;
    color:white;
    width:70px;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
}
