body {
    background-color: bisque;
}
h2,h3{
    background-color: #867DB0 ;
}
section{
    background-color: #dddddd;
    /*width: 90px;*/
}
footer{
    background-color: darkgray;
    color:white;
}
li{
    list-style: none;
    display: inline-block;
    background-color: red;
    color:white;
}