<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> CSS Exercise 3 </title>
    <link rel="stylesheet" type="text/css" href="exer3.css">
</head>

<body>
<header>
    <div class="logo">My Company website.</div>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
</header>
<section>
    <h2>Page Title</h2>
    <p class="highlight">First paragraph <a href="http://www.google.com">Google</a></p>
    <p class="bigText">second paragraph</p>
</section>
<section>
    <h3>Section Heading</h3>
    <p class="oneText">First <span class="highlight">paragraph</span></p>
    <p class="twoText">second paragraph<img src="https://via.placeholder.com/250x250"></p>
</section>
<section>
    <h3>Section Heading</h3>
    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/250x250"></a>nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</section>
<footer>
    <p>My company footer</p>
</footer>
</body>

</html>