p {
    color: red;
    font-size: 24px;
}

/*p:not(:first-child) {*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*}*/

div {
    /*div text color will be blue*/
    color: blue;
    font-size: 24px;
}