<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Title </title>
<style>
    table {
        width: 300px;
    }
    /*doing 2 elements at a time*/
    th,
    td {
        text-align: center;
        padding: 5px;
    }
    /*thisis a pheydo class*/
    tr:nth-child(odd) {
        background-color: #bbb;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #000;
        color: #ddd;
    }

    th {
        background-color: red;
        color: white;
        border:2px solid black;
    }
    textarea {
        border: 1px solid #888;
        max-height: 80px;
        max-width: 80px;
        overflow: hidden;
    }
    ul{
        border: 1px #dddddd;
        width: 300px;
        background-color: red;
    }
    p{
        border: 5px solid red;
        text-align: center;
        /*to center the paragraph element*/
        margin-left: auto;
        margin-right: auto;
    }
    .test1{
        border: 1px solid blue;
        position: absolute;
        background: green;
        /*left auto*/
        /*left: 50%;*/
        left: 375px;
        width: 100px;
    }
    .test2{
        border: 2px solid purple;
        float: right;
        width: 200px;
    }
    .test3{
        border: 2px solid purple;
        float: left;
        width: 200px;
    }
    .test4{
        border: 2px solid purple;
        float: none;
        width: 200px;
    }
    .test5{
        background: red;
        position: absolute;
        top:10%;
        left:10%;
        float: none;
        width: 80%;
    }
</style>
</head>

<body>
<ul>
    <li><a href="#home">Home</a> </li>
    <li><a href="#about">About</a> </li>
    <li><a href="#contact">Contact</a> </li>
</ul>
<a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
<div class='test1'>Hello World #1</div>
<div class='test2'>Hello World #2</div>
<div class='test3'>Hello World #3</div>
<div class='test4'>Hello World #4</div>
<div class='test5'>Hello World #5</div>
<div class='test6'>Hello World #6</div>
<div class='test7'>Hello World #7</div>
<!--<div class='test8'>Hello World #8</div>-->
<p>Paragraph #1</p>
<p>Paragraph #2</p>


<textarea >Hello World, just some boring text about nothing at all.</textarea>


<table>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Laurence</td>
        <td>Svekis</td>
        <td>40</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Jane</td>
        <td>Johnson</td>
        <td>33</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Jones</td>
        <td>25</td>
    </tr>
</table>
</body>

</html>